<%= simple_form_for(@ledger, remote: true, html: {class: "form-signin", style: "display:inline"}) do |f| %>
  <div class="modal-body">
    <ul class="errors">  <%= f.error_notification %></ul>
    <%= f.input :description, label: false, required: true, autofocus: true, input_html: {class: "form-control"},placeholder: "Description" %>
    <%= f.input :amount, label: false, required: true, input_html: {class: "form-control"}, placeholder: "Amount" %>
    <%= f.input :cleared %>
    
    <div class="modal-footer">
     
    <%= f.button :submit, "Submit", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
    </div>
<% end %>